<!DOCTYPE html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}訂單 / 訂單商品{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'orders/css/cornelius.css' %}" />
  <script type="text/javascript" src="{% static 'orders/js/cornelius.js' %}"></script>
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {
      font-size: 16px;
  }
  .bg-1 { 
    background-color:#fff;
    color: #555555;
  }
  .navbar {
    padding-top:10px;
    padding-bottom: 5px;
    font-size: 12px;
    letter-spacing: 5px;
  }
  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">訂單 / 訂單商品</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'piechart' %}">圓餅圖</a></li>
        <li><a href="{% url 'cohort' %}">同類群組分析表</a></li>
        <li><a href="{% url 'barchart' %}">最受歡迎前三名</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>